/* === TYPES === */

/* === PREPARE INPUT === */

export const prepareInput = ([input]: TemplateStringsArray) =>
  input.split("\n").map(Number);

/* === UTILS === */

/* === IMPLEMENTATION === */

/* === TESTS === */

test("Day <day>a - test", () => {});

test.skip("Day <day>a - prod", () => {});

test.skip("Day <day>b - test", () => {});

test.skip("Day <day>b - prod", () => {});

/* === INPUTS === */

const testInput = prepareInput``;

const prodInput = prepareInput``;
