/* === TYPES === */

/* === PREPARE INPUT === */

const prepareInput = ([input]: TemplateStringsArray) =>
  input.split("\n").map(Number);

/* === UTILS === */

/* === IMPLEMENTATION === */

/* === TESTS === */

test("Day 1a - test", () => {});

test.skip("Day 1a - prod", () => {});

test.skip("Day 1b - test", () => {});

test.skip("Day 1b - prod", () => {});

/* === INPUTS === */

const testInput = prepareInput``;

const prodInput = prepareInput``;
